img{
border-radius:50%;
  width:300px;
   height:300px; 
}
body{
  text-align:center;
}
.line{
  width:60px;
  height:10px;
  background-color:black;  
  margin:5px auto;
}
p1{
max-width:100px;
font-size:30px;
}
.lists{
list-style:none;
        top:10px;
    right:30px;
        position:absolute;
}
.list{
    float:left;
     padding-left:10px;
}
.list:hover{
    background-color:dodgerblue;
}
h2{
    margin-top:150;
}
i